.button {
    background-color: #e0e1e6;
    display: flex;
    justify-content: center;
    color:#888888;
    height:4em;
    align-items: center;
    outline: 1px solid #888888;
    font-size: 1.4em;
    flex:1;
  }
  
  .operator {
    background-color: #fe9241;
    color: #ffffff;
  }

  .button:active {
    box-shadow: inset;
    transform: scale(0.95);
    background-color: #b1b5c4;
  }

  .operator:active {
    background-color: #a1571f;
  }