.clear {
    display: flex;
  }
  
.clear-content {
  outline: 1px solid #888888;
  border:black solid;
  background-color: #fe9241;
  color: #ffffff;
  height:2.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
  flex:1;
}

.clear-content:active {
  box-shadow: inset;
  transform: scale(0.95);
  background-color: #a1571f;
}